@font-face {
    font-family: Oxygen;
    src: url(assets/fonts/Oxygen-Regular.ttf);
    font-weight: 800;
}

@font-face {
    font-family: FiraSans;
    src: url(assets/fonts/FiraSans-Regular.ttf);
    font-weight: 800;
}

body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: FiraSans;
}

h1,h2,h3,h4,h5{
    font-family: Oxygen;
}

.profilePicture {
    width: auto;
    height: auto;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100px;
}

.title-FadeOut {
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 2s;
}

.title-FadeIn {
    opacity: 100;
    animation-name: fadeIn;
    animation-duration: 2s;
}

@keyframes fadeOut {
    from {opacity: 100} to {opacity: 0}
}

@keyframes fadeIn {
    from {opacity: 0} to {opacity: 100}
}